.flex-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: chartreuse;
}

.flex-col > div {
  background-color: crimson;
  display: flex;
  justify-content: center;
  margin: auto;
}
