html,
body {
  height: 100%;
}
h1 {
  background-color: teal;
}
main {
  display: flex;
  flex-direction: column;
  background-color: deepskyblue;
  align-items: center;
  /* height: 80%; */
}

section {
  background-color: crimson;
  border: 1px solid yellow;
  width: 40%;
  height: 200px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 786px) {
  main {
    flex-direction: row;
    height: 80%;
    justify-content: space-around;
    /* justify-content: space-evenly; */
  }
}

@media screen and (min-width: 1024px) {
  main {
    background-color: turquoise;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
  }
}
