main {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  background-color: deepskyblue;
  height: 400px;
}

section {
  background-color: crimson;
  border: 1px solid yellow;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}

main > section:third-child {
  flex-grow: 2;
}

@media screen and (min-width: 786px) {
}

@media screen and (min-width: 1024px) {
}
