html,
body {
  height: 100%;
}
h1 {
  background-color: teal;
}
.flex-b {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: skyblue;
}

.flex-b > section {
  border: 1px solid seagreen;
  flex-grow: 1;
}

@media screen and (min-width: 786px) {
  .flex-b {
    flex-direction: row;
  }

  .flex-b > section {
    flex-grow: 2;
  }

  .flex-b > section:second-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1024px) {
  .flex-b {
    background-color: turquoise;
    flex-direction: row;
  }
}
