html,
body {
  height: 100%;
}
h1 {
  background-color: teal;
  position: sticky;
  top: -10px;
  width: 100%;
}

footer{
  background-color: cadetblue;


}
.flex-b {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: steelblue;
  gap: 20px;
}

.flex-b > section {
  border: 10px solid tomato;
  flex-grow: 1;
}


.image-con {
  width: 340px;
}

/* Controls the pictcures width, while the height is controled by the web browser.*/
.image-con img {
  width: 100%;
  

}

@media screen and (min-width: 786px) {
  .flex-b {
    flex-direction: row;
  }

  .flex-b > section {
    flex-grow: 2;
  }
}

@media screen and (min-width: 1024px) {
  .flex-b {
    background-color: turquoise;
    flex-direction: row;
  }


}
