.flex-b, html, body {
  height: 100%;
  background-color:skyblue;
}

h1 {
  background-color: teal;
  height: 100px;
  border: 1px solid red;
}

footer{
  background-color: cadetblue;
  height: 100px;
  border: 1px solid red;
}

.flex-b {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: steelblue;
  gap: 20px;
}

.flex-b > section {
  border: 10px solid tomato;
  display: flex;
  flex-grow: 1;
}

.image-con {
  /* The pitcure will change with the screen size */
  flex: calc(40%)
}

/* Controls the pictcures width, while the height is controled by the web browser.*/
 .image-con img {
  width: 100%;
  }  

/* For desktop size: min width 1256px*/
@media screen and (min-width: 1256px) {
  .flex-b {
    display: flex;
    background-color: turquoise;
    flex-direction: row;
    gap: 10px;
  }

  .image-con {
  /* flex-basis: calc(70%)  */
  flex: calc(80%)
}


  

}
