main {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  background-color: deepskyblue;
  height: 400px;
}

section {
  background-color: crimson;
  border: 1px solid yellow;
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

main > section:third-child {
  flex-grow: 2;
}
