.grid-con{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 40px 1fr 40px;
    
}

.grid-con > div{
    border: 1px solid seagreen;
    grid-column: 1/ span 3;
}

/* For desktop size: min width 1024px*/
@media screen and (min-width: 1024px) {
    .grid-con{
        display: grid;
        grid-template-rows: 100px 200px 100px;
        grid-template-columns: 25% 25% 25% 25%;
    }

    body{
        background-color: tomato;
    }

    .grid-con > div:first-child{
        /* 1/span 2  Places the grid in the first row and tells it when to stop spaning */
            grid-row: 1/ span 2;
        
        }

    
}