.grid-con, html, body {
    height: 100%;
  }

h1 {
    background-color: cadetblue;

    
}

footer{
    background-color: cadetblue;

  }

.grid-con{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 40px 1fr 40px;

}

.grid-con > div{
    border: 1px solid seagreen;
    grid-column-start: 1;
    grid-column-end: 4;
    /* 1/ span 3 Places the grid in the first colum and continues to the third.*/
    /* grid-column: 1/ span 3; */
}

.g1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.g2{
    grid-row-start: 3;
    grid-row-end: 5;
}

.g3{
    grid-row-start: 5;
    grid-row-end: 7;   
}

.g4{
    grid-row-start: 7;
    grid-row-end: 9;
}

/* For desktop size: min width 1024px*/
@media screen and (min-width: 1024px) {
     .grid-con{
        display: grid;
        grid-template-rows: 100px 200px 100px;
        grid-template-columns: 40px 1fr 40px;

    } 

    .grid-con > div {
        display: grid;
        /* 1/span 2  Places the grid in the first row continues to the second row */   
    }
    
    body{
        background-color: tomato;
    }

      


    
}