.grid-con, html, body {
    height: 100%;
  }

h1 {
    color: blue;    
}

footer{
    background-color: cadetblue;
  }

.grid-con{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 40px 1fr 40px;
    grid-template-areas: 
    "area1 area1 area1"
    "area2 area2 area2"
    "area3 area3 area3"
    "area4 area4 area4";
}

.grid-con > div{
    border: 2px solid red;
    background-color:lightseagreen;
}


.g1{
    grid-area: area1;
}

.g2{
    grid-area: area2;
}

.g3{
    grid-area: area3;
}

.g4{
    grid-area: area4;
} 

/* For desktop size: min width 1024px*/
@media screen and (min-width: 1024px) {
    body{
        background-color: tomato;
    }

     .grid-con{
        grid-template-columns: 200px 1fr 1fr 200px;
        grid-template-rows: 100px 400px 100px 50px;
        grid-template-areas: 
        "area1 area2 area3 area4"
        "area1 area2 area3 area4"
        "area1 area2 area3 area4"
        "area1 area2 area3 area4";
    } 

    /* h1{
        font-size: 20px;
    } */


    
}